.tada-panel-close-button{
  position:absolute;
  top:0;
  right:0;
  margin-right: 30px;
  margin-top: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M11.06 10l3.713 3.712a.75.75 0 0 1-1.06 1.061L10 11.061l-3.712 3.712a.75.75 0 0 1-1.061-1.06L8.939 10 5.227 6.288a.75.75 0 1 1 1.06-1.061L10 8.939l3.712-3.712a.75.75 0 0 1 1.061 1.06L11.061 10z'/%3E%3C/svg%3E");
}

.tada-close-btn {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%
}
.tada-launcher-frame-container {
  border: 0;
  outline: 0;
  position: fixed;
  height: 60px;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, .05);
  visibility: hidden
}
.tada-launcher-frame-container.tada-launcher-mobile {
  width: 60px!important
}
.tada-launcher-frame-container.tada-launcher-border-radius-circular {
  border-radius: 30px;
}

.tada-launcher-frame-container.tada-launcher-open {
  box-shadow: 0 0 80px 20px rgba(0,0,0,.1);
  width: 60px!important;
}

.tada-launcher-frame-container.tada-launcher-animate {
  -webkit-animation: tadaFadeScaleIn .2s ease-in-out!important;
  animation: tadaFadeScaleIn .2s ease-in-out!important;
  -webkit-animation-delay: .15s!important;
  animation-delay: .15s!important;
  -webkit-animation-fill-mode: forwards!important;
  animation-fill-mode: forwards!important;
  -webkit-transition: all .2s ease-in-out!important;
  transition: all .2s ease-in-out!important
}

.tada-launcher-frame-container .tada-launcher-frame {
  position: absolute!important;
  height: 0!important;
  max-height: 100%!important;
  max-width: 100%!important;
  min-height: 100%!important;
  min-width: 100%!important;
  width: 0!important;
  border: 0!important;
  outline: 0!important;
  top: 0!important;
  right: 0!important;
  bottom: 0!important;
  left: 0!important
}

.tada-floating-button {
  position: fixed;
  bottom: 20px;
  z-index: 2147483647;
}

.tada-popup {
  position: fixed;
  bottom: 20px;
  z-index: 2147483647;
}

.tada-form-container {
  border-radius: 10px;
  margin-bottom: 10px;
}

.tada-extended-icon {
  margin-right: 10px;
}

.tada-frame-container {
  border-radius: 20;
}

.tada-header-text {
  font-size: 40pt;
  font-weight: "bold";
  margin-left: 100px;
  top: 100px;
  color: '#ffffff'
}

.tada-content-text {
  font-size: 80pt;
  font-weight: "bold";
  margin-left: 100px;
  top: 100px;
  color: '#ffffff';
}

.tada-close-btn {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%
}
.tada-launcher-button {
  background-color: transparent;
  border: none;
  text-align: left;
  color: inherit;
  font-weight: inherit;
  line-height: inherit;
  font: inherit;
  padding: 0;
  margin: 0;
  text-align: inherit;
  outline: none;
  width: 100%;
}
.tada-launcher-button:focus>* {
  position: relative;
  box-shadow: inset 0 0 0 4px Highlight;
}
.tada-launcher-button:focus,
.tada-launcher-button>:focus {
  outline: none;
}
.tada-launcher-container {
  height: 60px;
  min-width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  text-align: center;
  color: #fff;
}
.tada-launcher-container .tada-launcher-mobile-only {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: fadeOut .2s ease;
  animation: fadeOut .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tada-launcher-container .tada-launcher-content-container {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tada-launcher-container .tada-launcher-mobile-only {
  margin: 15px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-animation: fadeOut .2s ease;
  animation: fadeOut .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tada-launcher-container.tada-launcher-border-radius-circular {
  border-radius: 30px;
}
.tada-launcher-container.tada-launcher-image-only {
  padding: 15px;
}
.tada-launcher-container .tada-launcher-text {
  line-height: 30px;
  color: inherit;
  font-size: 15px;
  white-space: nowrap;
  font-family: 'Verdana';
}
.tada-launcher-container .tada-launcher-close-icon {
  height: 26px;
  width: 26px;
  padding: 6px;
  margin: 17px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.tada-launcher-container .tada-launcher-icon {
  height: 30px;
  width: 30px;
  margin-right: 12px;
}

.tada-launcher-container.tada-launcher-open .tada-launcher-content-container {
  -webkit-animation: fadeOutNoDisplay .2s ease;
  animation: fadeOutNoDisplay .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tada-launcher-container.tada-launcher-open .tada-launcher-close-icon {
  -webkit-animation: fadeIn .2s ease;
  animation: fadeIn .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tada-launcher-container.tada-launcher-open.tada-launcher-mobile .tada-launcher-mobile-only {
  -webkit-animation: fadeOut .2s ease;
  animation: fadeOut .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tada-launcher-container.tada-launcher-closed .tada-launcher-content-container {
  -webkit-animation: fadeIn .2s ease;
  animation: fadeIn .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tada-launcher-container.tada-launcher-closed .tada-launcher-close-icon, .tada-launcher-container.tada-launcher-mobile .tada-launcher-content-container {
  -webkit-animation: fadeOut .2s ease;
  animation: fadeOut .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.tada-launcher-container.tada-launcher-mobile .tada-launcher-mobile-only {
  -webkit-animation: fadeIn .2s ease;
  animation: fadeIn .2s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tada-launcher-font-color-dark.tada-launcher-container .tada-close-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M11.06 10l3.713 3.712a.75.75 0 0 1-1.06 1.061L10 11.061l-3.712 3.712a.75.75 0 0 1-1.061-1.06L8.939 10 5.227 6.288a.75.75 0 1 1 1.06-1.061L10 8.939l3.712-3.712a.75.75 0 0 1 1.061 1.06L11.061 10z'/%3E%3C/svg%3E");
}

.tada-launcher-font-color-light.tada-launcher-container .tada-close-btn {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23FFF' fill-rule='nonzero' d='M11.06 10l3.713 3.712a.75.75 0 0 1-1.06 1.061L10 11.061l-3.712 3.712a.75.75 0 0 1-1.061-1.06L8.939 10 5.227 6.288a.75.75 0 1 1 1.06-1.061L10 8.939l3.712-3.712a.75.75 0 0 1 1.061 1.06L11.061 10z'/%3E%3C/svg%3E");
}

.tada-panel-frame-container {
  max-height: 600px;
  width: 360px;
  position: fixed;
  border: 0;
  outline: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 80px 0 rgba(0, 0, 0, .12);
  -webkit-animation: tadaFadeSlideUp .2s ease-in!important;
  animation: tadaFadeSlideUp .2s ease-in!important
}

.tada-panel-frame-container.tada-panel-exit-active {
  -webkit-animation: tadaFadeSlideDown .2s ease-in!important;
  animation: tadaFadeSlideDown .2s ease-in!important
}

.tada-panel-frame-container.tada-panel-border-radius-rounded {
  border-radius: 10px
}

.tada-panel-frame-container .tada-panel-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.tada-loading-spinner-container {
  position: absolute !important;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0
}

.tada-content-loading {
  position: inherit;
  overflow: hidden;
  pointer-events: none
}

.tada-content-loading:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #e6e6e6;
  border-top-color: #637381;
  border-radius: 50%;
  background-color: inherit;
  width: 30px;
  height: 30px;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: spin .75s linear infinite;
  animation: spin .75s linear infinite
}

.tada-content-loading:after {
  content: "";
  display: block!important;
  position: absolute!important;
  top: 0!important;
  right: 0!important;
  left: 0!important;
  background-color: #fff;
  height: 100%!important;
  width: 100%!important;
  z-index: 0
}

.tada-loading-spinner-container.tada-loading-spinner-hide {
  -webkit-animation: loadingSpinnerOut .35s ease-in-out;
  animation: loadingSpinnerOut .35s ease-in-out;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards
}

.tada-loading-spinner-container.tada-loading-spinner-hidden {
  display: none!important;
  -webkit-animation: none!important;
  animation: none!important
}

@media(max-width:60px) {
  .tada-launcher-container {
    padding: 15px
  }
}

@media only screen and (max-height:450px),
only screen and (max-width:450px) {
    .tada-panel-frame-container {
        border-radius: 0!important;
        height: 100%!important;
        max-height: 100vh!important;
        top: 0!important;
        right: 0!important;
        left: 0!important;
        width: 100%!important;
        max-width: 100vw!important
    }
}

@-webkit-keyframes fadeOutNoDisplay {
  0% {
      opacity: 1
  }
  95% {
      opacity: 0
  }
  to {
      opacity: 0
  }
}

@keyframes fadeOutNoDisplay {
  0% {
      opacity: 1
  }
  95% {
      opacity: 0
  }
  to {
      opacity: 0
  }
}

@-webkit-keyframes fadeOut {
  0% {
      opacity: 1
  }
  to {
      opacity: 0
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1
  }
  to {
      opacity: 0
  }
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0
  }
  to {
      opacity: 1
  }
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

@-webkit-keyframes loadingSpinnerOut {
  0% {
      opacity: 1
  }
  95% {
      opacity: 0
  }
  to {
      opacity: 0;
      display: none
  }
}

@keyframes loadingSpinnerOut {
  0% {
      opacity: 1
  }
  95% {
      opacity: 0
  }
  to {
      opacity: 0;
      display: none
  }
}

@-webkit-keyframes tadaFadeScaleIn {
  0% {
      opacity: 0;
      -webkit-transform: scale(.8);
      transform: scale(.8);
      visibility: hidden
  }
  to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      visibility: visible
  }
}

@keyframes tadaFadeScaleIn {
  0% {
      opacity: 0;
      -webkit-transform: scale(.8);
      transform: scale(.8);
      visibility: hidden
  }
  to {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
      visibility: visible
  }
}
@-webkit-keyframes tadaFadeSlideUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0)
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

@keyframes tadaFadeSlideUp {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0)
  }
  to {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
}

@-webkit-keyframes tadaFadeSlideDown {
  0% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0)
  }
}

@keyframes tadaFadeSlideDown {
  0% {
      opacity: 1;
      -webkit-transform: translateZ(0);
      transform: translateZ(0)
  }
  to {
      opacity: 0;
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0)
  }
}

