html {
  height: 100%;
  background:  rgba(54,187,254,1);
}

.App {
  text-align: center;
}

.tada-floating-button {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.tada-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.tada-form-container {
  border-radius: 20px;
  margin-bottom: 35px;
}

.tada-fab {
  position: 'absolute';
  bottom: 50px;
  float: right;
}

.tada-extended-icon {
  margin-right: 10px;
}

.tada-frame-container {
  border-radius: 20;
}

.tada-header-text {
  font-size: 40pt;
  font-weight: "bold";
  margin-left: 100px;
  top: 100px;
  color: '#ffffff'
}

.tada-content-text {
  font-size: 20pt;
  font-weight: "bold";
  margin-left: 100px;
  top: 100px;
  color: '#ffffff';
}
